@charset "utf-8";
.verticle_center    {position: absolute; width: 100%; height: 100%; left: 0%; top: 0%; display: table;}
.verticle_center p  {display: table-cell; vertical-align: middle; text-align: center; word-break: break-all;}
.poz_center         {position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; margin: auto;}
.full               {position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.full_x             {position: relative; width: 100%; left: 0px; top: 0px;}
#slider             {position: relative; width: 30%; height: 0%; left: 50%; top: 50%; margin: 0% 0% 0% -15%;}
#slider_in          {position: relative; width: 100%; height: 0%; left: 0%; top: 0%; padding-bottom: 56.25%; margin-top: -28.125%; background-color: #f2eb16;}
#arrow_left         {position: absolute; width: 10%; height: 0%; left: 0%; top: 50%; padding-bottom: 10%; margin: -5% 0% 0% -10%; background-color: #333; color: #fff; /*cursor: pointer;*/} 
#arrow_right        {position: absolute; width: 10%; height: 0%; right: 0%; top: 50%; padding-bottom: 10%; margin: -5% -10% 0% 0%; background-color: #333; color: #fff; /*cursor: pointer;*/} 
body                {cursor: url(../images/pointer_0.png), auto;}
/*body                {cursor: crosshair;}*/
/*body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/






























